@page "/"

<PageTitle>Home</PageTitle>

<h1><strong>Segundo Parcial Aplicada 1</strong></h1>

<ul>
	<li><strong>Nombres:</strong> Yohualkis Tejada</li>
	<li><strong>Matricula:</strong> 2022 - 0433</li>
</ul>
